---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Work Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$light-font-weight: 300;
$medium-font-weight: 600;
$bold-font-weight: 700;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     12px;

$text-color:       #333;
$background-color: #fafafa;
$brand-color:      #5289C5;
$link-color:	   $brand-color;

$grey-color:       #cacac6;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Palette
$palette-yellow: #E7DB71;
$palette-orange: #FA855A;
$palette-pink: #E28ACF;
$palette-green: #74CF99;
$palette-red: #CF7A74;

// Width of the content area
$content-width:    1020px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "syntax-highlighting",
        "helpers",
        "hero",
        "nav",
        "icons",
        "header"
;
