---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Hind', sans-serif;
$secondary-font-family: 'Work Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$light-font-weight: 300;
$semibold-font-weight: 500;
$medium-font-weight: 600;
$bold-font-weight: 700;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     12px;

$text-color:       #333;
$background-color: #fafafa;
$brand-color:      #5289C5;
$link-color:	   $brand-color;

$grey-color:       #cacac6;
$grey-color-light: lighten($grey-color, 15%);
$grey-color-dark:  darken($grey-color, 25%);

// Palette
$palette-yellow: #E7DB71;
$palette-orange: #FA855A;
$palette-pink: #E28ACF;
$palette-green: #74CF99;
$palette-red: #CF7A74;

$radius: 2px;

// Width of the content area
$content-width:    1020px;

$on-palm:          600px;
$on-laptop:        800px;

// Breakpoints
$lap-start:         481px;
$desk-narrow-start: 960px;
$desk-start:        1024px;
$desk-wide-start:   1280px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base",
        "syntax-highlighting",
        "grids",
        "widths",
        "helpers",
        "buttons",
        "lists",
        "hero",
        "nav",
        "icons",
        "header",
        "headings",
        "panels",
        "slick",
        "portfolio",
        "skills",
        "experience",
        "contact",
        "footer"
;
