---
layout: default
title: Home
custom_name: home
---

<div class="home">

  {% include panels/about.html %}

  {% include panels/portfolio.html %}

  {% include panels/skills.html %}

  {% include panels/experience.html %}

  <div class="panel">
  	<div class="wrapper">
  		<img class="contact__image" src="{{ site.url }}/images/strangers-quote.jpg" alt="There are no strangers here, only friends who haven't yet met.">
  		<h1>Contact me</h1>
  		<p>You can find me occassionally tweeting, and more often retweeting the wisdom of others, at <a href="https://twitter.com/@jtuds">@jtuds</a></p>
  		<p>The best way to get in touch with me directly is via email at <a href="mailto:james@jtudsbury.com">james@jtudsbury.com</a></p>
  	</div><!--/.wrapper -->
  </div>

</div>
