<div class="panel panel--normal panel--divider">
	<div class="wrapper">
	  <h1>A bit about me</h1>
	  <p>I'm a developer from Manchester, UK. I graduated in web development at Manchester Metropolitan University in 2011 and have been working in the industry every since. My day job is writing scalable CSS and creating enjoyable user experiences. A frontend developer by trade, I have frequent encounters with the backend, mostly thanks to my work with Wordpress and therefore with PHP.</p>
	  <p>I am passionate about user experience, behaviour and psychology. I love to ponder design problems in usability and site architecture and come up with solutions to create great user experiences.</p>
	  <p class="flush--bottom">I like to keep my brain sharp by, for example, attending meetups (shoutout to <a href="http://nuxuk.org/">NUX</a> and <a href="http://www.meetup.com/McrFRED/">McrFRED</a>), playing guitar and reading various books and blogs (I highly recommend <a href="https://www.farnamstreetblog.com/">Farnam Street</a>).</p>
	</div><!--/.wrapper -->
</div><!--/.panel -->