<section class="panel">
	<div class="wrapper">
		<img class="contact__image" src="{{ site.url }}/images/strangers-quote.jpg" alt="There are no strangers here, only friends who haven't yet met.">
		<h1 id="contact" class="nav-anchor">Contact me</h1>
		<p>You can find me occasionally tweeting, and more often retweeting the wisdom of others, at <a href="https://twitter.com/@jtuds">@jtuds</a></p>
		<p>The best way to get in touch with me directly is via email at <a href="mailto:james@jtudsbury.com">james@jtudsbury.com</a></p>
	</div><!--/.wrapper -->
</section><!--/.panel -->