<div class="panel panel--background-green">
   <div class="wrapper">
      <h1 id="experience" class="nav-anchor">Lovely people I've worked for</h1>
      <div class="grid">
         <div class="grid__item desk-narrow-one-third">
            <div class="experience">
               <h2 class="gamma experience__title"><a href="#" class="experience__external-link">Salford University</a></h2>
               <p class="experience__role">Web assistant</p>
               <p class="experience__length">August 2011 (temp)</p>
               <p class="experience__description">Assisted in the completion of a new Salford University website.</p>
               <a href="{{ site.url }}/experience/salford/">More details</a>
            </div><!--/.experience -->
         </div><!--/.grid__item -->
         <div class="grid__item desk-narrow-one-third">
            <div class="experience">
               <h2 class="gamma experience__title"><a href="#" class="experience__external-link">Robot Creative</a></h2>
               <p class="experience__role">Developer</p>
               <p class="experience__length">June 2012 - November 2013</p>
               <p>Working with the head of digital and a designer, built websites on platforms including Wordpress and Magento, general site maintenance and development, client interaction.</p>
               <a href="{{ site.url }}/experience/robot-creative/">More details</a>
            </div><!--/.experience -->
         </div><!--/.grid__item -->
         <div class="grid__item desk-narrow-one-third">
            <div class="experience">
            <h2 class="gamma experience__title"><a href="#" class="experience__external-link">Candidsky</a></h2>
               <p class="experience__role">Frontend developer</p>
               <p class="experience__length">February 2014 - January 2016</p>
               <p>Working in a 4 person production team, built websites on various platforms, assisted in design phases, general site maintenance, client interaction, lead projects.</p>
               <a href="{{ site.url }}/experience/candidsky/">More details</a>
            </div><!--/.experience -->
         </div><!--/.grid__item -->
      </div><!--/.grid -->
   </div><!--/.wrapper -->
</div><!--/.panel -->