<div class="panel panel--background-green">
   <div class="wrapper">
      <h1>Lovely people I've worked for</h1>
      <div class="grid">
         <div class="grid__item one-third">
            <h2 class="gamma experience__title"><a href="#" class="experience__external-link">Salford University</a></h2>
            <p class="experience__role">Web assistant</p>
            <p class="experience__length">August 2011 (temp)</p>
            <p class="experience__description">Web assistant. Describe what I did in a brief line quickly bla bla.</p>
            <a href="#">More details</a>
         </div><!--/.grid__item -->
         <div class="grid__item one-third">
            <h2 class="gamma experience__title"><a href="#" class="experience__external-link">Robot Creative</a></h2>
            <p class="experience__role">Developer</p>
            <p class="experience__length">June 2012 - November 2013</p>
            <p>Developer. Describe what I did in a brief line quickly bla bla.</p>
            <a href="#">More details</a>
         </div><!--/.grid__item -->
         <div class="grid__item one-third">
            <h2 class="gamma experience__title"><a href="#" class="experience__external-link">Candidsky</a></h2>
            <p class="experience__role">Frontend developer</p>
            <p class="experience__length">February 2014 - January 2016</p>
            <p>Front end developer. Describe what I did in a brief line quickly bla bla.</p>
            <a href="#">More details</a>
         </div><!--/.grid__item -->
      </div><!--/.grid -->
   </div><!--/.wrapper -->
</div><!--/.panel -->