<div class="panel panel--normal panel--divider">
	<div class="wrapper">
		<div class="panel__intro">
			<h1>Things I've worked on</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
		</div><!--/.panel__intro -->
	</div><!--/.wrapper -->
	<div class="wrapper wrapper--wide">
		<div class="js-slick">
			<div class="portfolio-card">
				<div class="portfolio-card__screenshot-wrap">
					<img class="portfolio-card__screenshot" src="http://lorempixel.com/image_output/animals-q-c-400-300-9.jpg">
					<p class="portfolio-card__title">John Ryan By Design</p>
					<a href="#" class="icon icon--external-green portfolio-card__external-link"><span class="visuallyhidden">View site</span></a>
				</div><!--/.portfolio-card__screenshot-wrap -->
				<h2 class="portfolio-card__facts-title">
					Key involvement &amp; skills
				</h2>
				<p class="portfolio-card__facts">
					Php, sell beds, other shit.
				</p>
				<a href="#" class="james">More details</a>
			</div><!--/.portfolio-card -->
			<div class="portfolio-card">
				<div class="portfolio-card__screenshot-wrap">
					<img class="portfolio-card__screenshot" src="http://lorempixel.com/image_output/animals-q-c-400-300-9.jpg">
					<p class="portfolio-card__title">John Ryan By Design</p>
					<a href="#" class="icon icon--external-green portfolio-card__external-link"><span class="visuallyhidden">View site</span></a>
				</div><!--/.portfolio-card__screenshot-wrap -->
				<h2 class="portfolio-card__facts-title">
					Key involvement &amp; skills
				</h2>
				<p class="portfolio-card__facts">
					Php, sell beds, other shit.
				</p>
				<a href="#" class="james">More details</a>
			</div><!--/.portfolio-card -->
			<div class="portfolio-card">
				<div class="portfolio-card__screenshot-wrap">
					<img class="portfolio-card__screenshot" src="http://lorempixel.com/image_output/animals-q-c-400-300-9.jpg">
					<p class="portfolio-card__title">John Ryan By Design</p>
					<a href="#" class="icon icon--external-green portfolio-card__external-link"><span class="visuallyhidden">View site</span></a>
				</div><!--/.portfolio-card__screenshot-wrap -->
				<h2 class="portfolio-card__facts-title">
					Key involvement &amp; skills
				</h2>
				<p class="portfolio-card__facts">
					Php, sell beds, other shit.
				</p>
				<a href="#" class="james">More details</a>
			</div><!--/.portfolio-card -->
			<div class="portfolio-card">
				<div class="portfolio-card__screenshot-wrap">
					<img class="portfolio-card__screenshot" src="http://lorempixel.com/image_output/animals-q-c-400-300-9.jpg">
					<p class="portfolio-card__title">John Ryan By Design</p>
					<a href="#" class="icon icon--external-green portfolio-card__external-link"><span class="visuallyhidden">View site</span></a>
				</div><!--/.portfolio-card__screenshot-wrap -->
				<h2 class="portfolio-card__facts-title">
					Key involvement &amp; skills
				</h2>
				<p class="portfolio-card__facts">
					Php, sell beds, other shit.
				</p>
				<a href="#" class="james">More details</a>
			</div><!--/.portfolio-card -->
			<div class="portfolio-card">
				<div class="portfolio-card__screenshot-wrap">
					<img class="portfolio-card__screenshot" src="http://lorempixel.com/image_output/animals-q-c-400-300-9.jpg">
					<p class="portfolio-card__title">John Ryan By Design</p>
					<a href="#" class="icon icon--external-green portfolio-card__external-link"><span class="visuallyhidden">View site</span></a>
				</div><!--/.portfolio-card__screenshot-wrap -->
				<h2 class="portfolio-card__facts-title">
					Key involvement &amp; skills
				</h2>
				<p class="portfolio-card__facts">
					Php, sell beds, other shit.
				</p>
				<a href="#">More details</a>
			</div><!--/.portfolio-card -->
		</div><!--/.slick -->
	</div><!--/.wrapper -->
</div><!--/.panel -->