<section class="panel panel--normal panel--divider">
	<div class="wrapper">
		<div class="panel__intro">
			<h1 id="portfolio" class="nav-anchor">Things I've worked on</h1>
			<p>Here are some of my most recent and noteworthy projects. All of the projects listed below have been worked on on behalf of my employer at the time, thus they are not all solely works of my own and various talented colleagues have helped me to create them.</p>
		</div><!--/.panel__intro -->
	</div><!--/.wrapper -->
	<div class="wrapper wrapper--wide">
		<div class="js-slick">
			<div class="portfolio-card">
				<div class="portfolio-card__screenshot-wrap">
					<img class="portfolio-card__screenshot" src="{{ site.url }}/images/screenshots/jrbd.jpg">
					<p class="portfolio-card__link-title">factory-beds-direct.co.uk</p>
					<a href="http://www.factory-beds-direct.co.uk/" class="icon icon--external-green portfolio-card__external-link"><span class="visuallyhidden">View site</span></a>
				</div><!--/.portfolio-card__screenshot-wrap -->
				<h2 class="portfolio-card__facts-title">
					John Ryan By Design
				</h2>
				<p class="portfolio-card__facts">
					Customised Woocommerce site
				</p>
				<p class="portfolio-card__facts">
					CSS styles and architecture, Javascript functionality, PHP templating, PHP functions
				</p>
				<a href="{{ site.url }}/portfolio/john-ryan-by-design/">View project details</a>
			</div><!--/.portfolio-card -->
			<div class="portfolio-card">
				<div class="portfolio-card__screenshot-wrap">
					<img class="portfolio-card__screenshot" src="{{ site.url }}/images/screenshots/englishlakes.jpg">
					<p class="portfolio-card__link-title">lakesicecream.com</p>
					<a href="http://lakesicecream.com" class="icon icon--external-green portfolio-card__external-link"><span class="visuallyhidden">View site</span></a>
				</div><!--/.portfolio-card__screenshot-wrap -->
				<h2 class="portfolio-card__facts-title">
					English Lakes Ice Cream
				</h2>
				<p class="portfolio-card__facts">
					Visual design focused Wordpress site
				</p>
				<p class="portfolio-card__facts">
					CSS styles and architecture, CMS, PHP templating, Javascript functionality
				</p>
				<a href="{{ site.url }}/portfolio/english-lakes-ice-cream/">View project details</a>
			</div><!--/.portfolio-card -->
			<div class="portfolio-card">
				<div class="portfolio-card__screenshot-wrap">
					<img class="portfolio-card__screenshot" src="{{ site.url }}/images/screenshots/ampwire.jpg">
					<p class="portfolio-card__link-title">ampwire.co.uk</p>
					<a href="http://ampwire.co.uk" class="icon icon--external-green portfolio-card__external-link"><span class="visuallyhidden">View site</span></a>
				</div><!--/.portfolio-card__screenshot-wrap -->
				<h2 class="portfolio-card__facts-title">
					AMP Wire
				</h2>
				<p class="portfolio-card__facts">
					Bespoke Woocommerce and brochure hybrid site
				</p>
				<p class="portfolio-card__facts">
					CSS styles and architecture, UX and structural design, PHP templating, Javascript functionality
				</p>
				<a href="{{ site.url }}/portfolio/amp-wire/">View project details</a>
			</div><!--/.portfolio-card -->
			<div class="portfolio-card">
				<div class="portfolio-card__screenshot-wrap portfolio-card__screenshot-wrap--disabled">
					<img class="portfolio-card__screenshot" src="{{ site.url }}/images/screenshots/undisclosed1.jpg">
					<p class="portfolio-card__link-title">Site not built</p>
				</div><!--/.portfolio-card__screenshot-wrap -->
				<h2 class="portfolio-card__facts-title">
					Undisclosed / unfinished
				</h2>
				<p class="portfolio-card__facts">
					In browser homepage mockups
				</p>
				<a href="{{ site.url }}/portfolio/undisclosed-1">View project details</a>
			</div><!--/.portfolio-card -->
			<div class="portfolio-card">
				<div class="portfolio-card__screenshot-wrap">
					<img class="portfolio-card__screenshot" src="{{ site.url }}/images/screenshots/undisclosed2.png">
					<p class="portfolio-card__link-title">Build in progress</p>
				</div><!--/.portfolio-card__screenshot-wrap -->
				<h2 class="portfolio-card__facts-title">
					Undisclosed / build in progress
				</h2>
				<p class="portfolio-card__facts">
					Multi step checkout process
				</p>
				<p class="portfolio-card__facts">
					Javascript, CSS / SASS, PHP templating
				</p>
				<a href="{{ site.url }}/portfolio/undisclosed-2">View project details</a>
			</div><!--/.portfolio-card -->
			<div class="portfolio-card">
				<div class="portfolio-card__screenshot-wrap">
					<img class="portfolio-card__screenshot" src="{{ site.url }}/images/screenshots/healthassured.jpg">
					<p class="portfolio-card__link-title">healthassured.org</p>
					<a href="http://www.healthassured.org/" class="icon icon--external-green portfolio-card__external-link"><span class="visuallyhidden">View site</span></a>
				</div><!--/.portfolio-card__screenshot-wrap -->
				<h2 class="portfolio-card__facts-title">
					Health Assured
				</h2>
				<p class="portfolio-card__facts">
					Corporate Wordpress site
				</p>
				<p class="portfolio-card__facts">
					CSS / SASS, PHP templating, Javascript
				</p>
			</div><!--/.portfolio-card -->
		</div><!--/.slick -->
	</div><!--/.wrapper -->
</section><!--/.panel -->