<div class="panel panel--normal">
   <div class="wrapper">
   	<div class="skills-list">
      <h1>Aquired skills and toolbelt</h1>
      <p class="push--bottom">These are the skills that I consider my strongest and most valuable, these are inherently the skills I have spent the most  time working on, practicing and shooting for those 10,000 hours with.</p>
      <div class="grid push--bottom">
         <div class="grid__item one-third push--bottom">
            <h2 class="primary-skill__heading">CSS &amp; SASS</h2>
      		<p>My main focus throughout my developer days has been good ol' CSS. I started bla bla bla architecture, SASS, BEM, Harry Roberts, scalability, usage of genric naming like panel--moscow instead of panel--cta. Trying to adhere to authoring guidelines/standard such as spacing</p>
      		<a href="#">More details and examples</a>
         </div><!--/.grid__item -->
         <div class="grid__item one-third push--bottom">
            <h2 class="primary-skill__heading">PHP</h2>
      		<p>My main focus throughout my developer days has been good ol' CSS. I started bla bla bla architecture, SASS, BEM, Harry Roberts, scalability.</p>
      		<a href="#">More details and examples</a>
         </div><!--/.grid__item -->
         <div class="grid__item one-third push--bottom">
            <h2 class="primary-skill__heading">Javascript</h2>
      		<p>My main focus throughout my developer days has been good ol' CSS. I started bla bla bla architecture, SASS, BEM, Harry Roberts, scalability.</p>
      		<a href="#">More details and examples</a>
         </div><!--/.grid__item -->
         <div class="grid__item one-third push--bottom">
            <h2 class="primary-skill__heading">Wordpress</h2>
      		<p>My main focus throughout my developer days has been good ol' CSS. I started bla bla bla architecture, SASS, BEM, Harry Roberts, scalability.</p>
      		<a href="#">More details and examples</a>
         </div><!--/.grid__item -->
         <div class="grid__item one-third push--bottom">
            <h2 class="primary-skill__heading">Design</h2>
      		<p>My main focus throughout my developer days has been good ol' CSS. I started bla bla bla architecture, SASS, BEM, Harry Roberts, scalability.</p>
      		<a href="#">More details and examples</a>
         </div><!--/.grid__item -->
      </div><!--/.grid -->
      <h2>Other skills</h2>
      <p class="push--bottom">The frequency in which I use these tools / skills varies, as does my experience with each, to see more details <a href="#">go to the skills page.</a></p>
      <div class="push--bottom">
      	<ul class="list--flush skills-list__secondaries">
			<li>Git (command line)</li>
			<li>User behaviour</li>
         <li>Grunt</li>
			<li>CRO</li>
			<li>Performance</li>
			<li>Photo / asset editing (Photoshop &amp; Pixlr)</li>
			<li>SVG editing (Inkscape)</li>
			<li>Angular</li>
			<li>jQuery</li>
        </ul>
      </div><!--/.grid -->
      <p class="push--bottom">Though not web specific, some of these other skills are equally important to life as a developer and I believe others just say something about my character. My experience with each of the skills listed varies, to see more details <a href="#">go to the skills page.</a></p>
      <div class="push--bottom">
      	<ul class="list--flush skills-list__secondaries">
			<li>Guitar</li>
			<li>Time management</li>
			<li>Teamwork</li>
			<li>Psychology</li>
			<li>Language</li>
			<li>Client interaction</li>
			<li>Reading</li>
			<li>Involvement in dev community</li>
			<li>Guitar</li>
			<li>Growth mentality</li>
			<li>Desire  to learn</li>
        </ul>
        <p>Note to self: skills not to miss: Woocommerce, Magento, client handling/meeting, design and doing designs, UI design eg. Ampwire,</p>
      </div><!--/.grid -->
  	</div><!--/.skills-list -->
   </div><!--/.wrapper -->
</div><!--/.panel -->