<div class="panel panel--normal">
   <div class="wrapper">
   	<div class="skills-list">
      <h1>Aquired skills and toolbelt</h1>
      <p class="push--bottom">These are the skills that I consider my strongest and most valuable, these are inherently the skills I have spent the most  time working on, practicing and shooting for those 10,000 hours with.</p>
      <div class="grid push--bottom">
         <div class="grid__item one-half push--bottom">
            <h2 class="primary-skill__heading">CSS &amp; SASS</h2>
      		<p>My main focus throughout my developer days has been good ol' CSS. Over time I have developed a desire to write maintainable, scalable and well, just good CSS. I use SASS, the BEM syntax (mostly), read lots of <a href="http://csswizardry.com/">Harry Roberts's</a> ideas and am probably becoming overly reliant on flexbox.</p>
      		<a href="{{ site.url }}/skills/css/">More details and examples</a>
         </div><!--/.grid__item -->
         <div class="grid__item one-half push--bottom">
            <h2 class="primary-skill__heading">PHP</h2>
      		<p>An initial necessity due to building for Wordpress, I have grown to enjoy writing PHP. I most often use it to create a maintainable frontend structure and to output the data that I need for markup but have recently delved in to writing functions more focused on backend tasks.</p>
      		<a href="{{ site.url }}/skills/php/">More details and examples</a>
         </div><!--/.grid__item -->
         <div class="grid__item one-half push--bottom">
            <h2 class="primary-skill__heading">Javascript</h2>
      		<p>My Javascript skills have grown from struggling to figure out how to use jQuery plugins to writing my own custom functionality. Though I know my way around it to an intermediate level, this is a key area I'd like to continue to improve on.</p>
      		<a href="{{ site.url }}/skills/javascript/">More details and examples</a>
         </div><!--/.grid__item -->
         <div class="grid__item one-half push--bottom">
            <h2 class="primary-skill__heading">Wordpress</h2>
      		<p>20% of the internet is built on Wordpress and around 99% of my websites are. Building in Wordpress has often been my day job and I have done everything from hacking templates to custom Woocommerce builds.</p>
      		<a href="{{ site.url }}/skills/wordpress/">More details and examples</a>
         </div><!--/.grid__item -->
         <div class="grid__item one-half push--bottom">
            <h2 class="primary-skill__heading">Design</h2>
      		<p>My design experience comes from working with some great designers and interpreting their designs for the web. Though I have a good eye for what looks good, my passion for design lies in the structural and user experience areas. I love to discuss and ponder user behaviour to help propose design solutions.</p>
      		<a href="{{ site.url }}/skills/design/">More details and examples</a>
         </div><!--/.grid__item -->
      </div><!--/.grid -->
      <h2>Other skills</h2>
      <p class="push--bottom">The frequency in which I use these tools / skills varies, as does my experience with each, to see more details <a href="{{ site.url }}/skills/">go to the skills overview page.</a></p>
      <div class="push--bottom">
      	<ul class="list--flush skills-list__secondaries">
			<li>Git (command line)</li>
			<li>User behaviour</li>
         <li>Grunt</li>
			<li>CRO</li>
         <li>Woocommerce</li>
         <li>Magento</li>
			<li>Performance</li>
			<li>Photo / asset editing (Photoshop &amp; Pixlr)</li>
			<li>SVG editing (Inkscape)</li>
			<li>Angular</li>
			<li>jQuery</li>
        </ul>
      </div><!--/.grid -->
      <p class="push--bottom">Though not web specific, some of these other skills are equally important to life as a developer and I believe others just say something about my character. My experience with each of the skills listed varies, to see more details <a href="{{ site.url }}/skills/">go to the skills overview page.</a></p>
      <div class="push--bottom">
      	<ul class="list--flush skills-list__secondaries">
			<li>Guitar</li>
			<li>Time management</li>
			<li>Teamwork</li>
			<li>Psychology</li>
			<li>Language</li>
			<li>Client interaction</li>
			<li>Reading</li>
			<li>Involvement in dev community</li>
			<li>Guitar</li>
			<li>Growth mentality</li>
			<li>Desire  to learn</li>
        </ul>
      </div><!--/.grid -->
  	</div><!--/.skills-list -->
   </div><!--/.wrapper -->
</div><!--/.panel -->