<header class="site-header">

  {% if page.custom_name != 'home' %}
    <a class="icon icon--home-yellow home-link" href="{{ site.url }}"><span class="visuallyhidden">Home</span></a>
  {% endif %}

  <div class="hero{% if page.custom_name == 'home' %} hero--large{% endif %}">

    <div class="hero__text-wrapper">
      <div class="wrapper">
        <h1 class="hero__text">James Tudsbury
          <div class="rotating-words">
            <span>Front end developer<span class="visuallyhidden">, </span></span>
            <span>Backend dabbler<span class="visuallyhidden">, </span></span>
            <span>User behaviour enthusiast<span class="visuallyhidden">, </span></span>
            <span>Designer<span class="visuallyhidden">, </span></span>
            <span>Web lover<span class="visuallyhidden">, </span></span>
            <span>Mountain jumper<span class="visuallyhidden">.</span></span>
          </div>
      </h1>
      </div><!--/.wrapper -->
    </div><!--/.hero__text-wrapper -->

  </div><!--/.hero -->

  <nav class="site-nav">
    <div class="wrapper">
      <a class="site-nav__link" href="{{ site.url }}/about-me">About me</a><a class="site-nav__link" href="{{ site.url }}/portfolio">Portfolio</a><a class="site-nav__link" href="{{ site.url }}/skills">Skills</a><a class="site-nav__link" href="{{ site.url }}/experience">Experience</a>
    </div><!--/.wrapper -->
  </nav>

</header>
