/**
 * Grids
 */

/**
 * Grid wrapper
 */
.grid{
    margin-left:-$spacing-unit;
    list-style:none;
    margin-bottom:0;
    font-size:0;
}

/**
 * Very infrequently occuring grid wrappers as children of grid wrappers.
 */
.grid > .grid{
    margin-left:0;
}


/**
 * Grid
 */
.grid__item{
    display:inline-block;
    width:100%;
    padding-left:$spacing-unit;
    vertical-align:top;
    font-size:16px;
    font-size:1rem;
}

/**
* Helpers for equal height grid items
* Setting a VW or VH height on the grid parent and 100% height on the children grid__items should allow for fairly responsive equal heights
*/
.grid--flex {
  display:flex;
  flex-wrap:wrap;

  > .grid__item {
    display:flex;
    flex-wrap:wrap;

    &, > *, {
        min-height: 100%;
    }

    > * {
      width:100%;
    }
  }

  @include media-query(palm) {
    flex-flow: column wrap;
  }
}

.grid--relative {

  .grid__item {
    position: relative;
  }
}
