/**
 * Header
 */

.site-header {
	position:relative;
	overflow: hidden;
}

.home-link {
	position:absolute;
	left:$spacing-unit*2;
	top:$spacing-unit*2;
	z-index:10;
	transition: none;
	background-image:url('/images/icons/home-white.svg');
	background-image:url('/images/icons/home-yellow.svg');

	&:hover, &:active {
		background-image:url('/images/icons/home-white.svg');
	}

	@media (max-width:$bp-extra-b) {
		height:34px;
		width:34px;
		top:$spacing-unit;
		left:$spacing-unit;
	}
}