/**
 * Icons
 */

.icon {
	display:inline-block;
	background-repeat: no-repeat;
	background-size:cover;
}

.icon--home {
	width:42px;
	height:42px;
	background-image:url('/images/icons/home.svg');
}

.icon--home-white {
	width:42px;
	height:42px;
	background-image:url('/images/icons/home-white.svg');
}

.icon--home-yellow {
	width:42px;
	height:42px;
	background-image:url('/images/icons/home-yellow.svg');
}

.icon--external {
	width:42px;
	height:42px;
	background-image:url('/images/icons/external.svg');
}

.icon--external-green {
	width:42px;
	height:42px;
	background-image:url('/images/icons/external-green.svg');
}

.icon--external-red {
	width:42px;
	height:42px;
	background-image:url('/images/icons/external-red.svg');
}

.icon--external-blue {
	width:42px;
	height:42px;
	background-image:url('/images/icons/external-blue.svg');
}

.icon--external-white {
	width:42px;
	height:42px;
	background-image:url('/images/icons/external-white.svg');
}