/**
 * Primary nav
 */

.site-nav {
	border-bottom:4px solid $palette-red;
	text-align: center;
}

.site-nav__link {
	font-family: $secondary-font-family;
	position: relative;
	display:inline-block;
	color: $text-color;
	width:20%;
	padding-top:$spacing-unit*2;
	padding-bottom:$spacing-unit*2;
	font-size:16px;
	font-weight:$medium-font-weight;;

	&:hover {
		text-decoration: none;
		color:white;

		&:after {
			height:100%;
			transition:height 0.3s;
		}
	}

	&:after {
		content:"";
		position: absolute;
		left:0;
		bottom:0;
		width:100%;
		height:0;
		background-color: $palette-red;
		z-index:-1;
	}
}