/**
 * Panels
 */

.panel {
	padding-top:$spacing-unit*5;
	padding-bottom:$spacing-unit*5;

	@media (max-width:$lap-start) {
		padding-top:$spacing-unit*3;
		padding-bottom:$spacing-unit*3;
	}
}

.panel--half {
	padding-top:$spacing-unit*2;
	padding-bottom:$spacing-unit*2;

	@media (max-width:$lap-start) {
		padding-top:$spacing-unit;
		padding-bottom:$spacing-unit;
	}
}

.panel--normal + .panel--normal {
	padding-top:0;
}

.panel--divider {

	&:after {
		content:"";
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top:$spacing-unit*5;
		width:20%;
		height:4px;
		background-color:$palette-red;
	}
}

.panel--background-green {
	background-color:$palette-green;
	color:white;
}

.panel__intro {
	margin-bottom: $spacing-unit*2.5;
}