/**
 * Portfolio
 */

/**
 * Cards
 */

.portfolio-card {
	position: relative;
	border-radius:2px;
	margin-left:$spacing-unit;
	margin-right:$spacing-unit;
}

.portfolio-card__screenshot-wrap {
	position: relative;
	overflow: hidden;
	cursor: pointer;

	&:hover, &:focus {

		.portfolio-card__link-title {
			transform: translateY(0);
			transition: all 0.3s;
		}

		.portfolio-card__external-link {
			opacity:1;
			transition: all 0.3s;
		}
	}

	&.portfolio-card__screenshot-wrap--disabled {
		cursor:default;
	}
}

.portfolio-card__screenshot {
	border-radius:$radius;
}

.portfolio-card__link-title {
	position: absolute;
	bottom:0;
	width:100%;
	font-size:18px;
	margin-bottom: 0;
	text-align: center;
	padding:$spacing-unit;
	background-color:$palette-green;
	color:white;
	text-shadow:0 1px 2px rgba(41, 55, 64, 0.6);
	border-radius:0 0 $radius $radius;
	transform: translateY(100%);
}

.portfolio-card__facts-title {
	font-weight:$bold-font-weight;
	font-size:18px;
	margin-bottom: 0;
	padding-top:$spacing-unit;
}

.portfolio-card__facts {
	margin-left:0;

	> li {
		list-style-type: none;
	}
}

.portfolio-card__external-link {
	position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-top: -21px;
    margin-left: -21px;
    opacity:0;
}