/**
 * Skills
 */

.skills-list {

	.primary-skill__heading {
		font-size:20px;
		color:$palette-green;
	}
}

.skills-list__secondaries {
	display:flex;
	flex-wrap:wrap;

	> li {
		width:100%;
		list-style-position: inside;
		padding-right: $spacing-unit;

		@media (min-width:$lap-start) {
			width:50%;
		}

		@media (min-width:$desk-narrow-start) {
			width:25%;
		}
	}
}